#navbar-header > span {
	font-size: 1.5em;
}

#nav-list a {
	text-align:center;
}

.spacing {
	background-color: #E1654B;
}

p {
padding: 0 10px 0 10px;
}

h1 > a, h3 a {
	text-decoration: none;
	color: #000000;
}

h1 a:hover, h1 a:focus, h3 a:focus, h3 a:hover {
  text-decoration: none;
  color: #000000;
}

.navbar-header, .container-fluid {
	background-color: #E1C64B;
}

.navbar-brand span{
	color: #000000;
}

h3 {
	padding-top: 10px
}

body {
	font-family: 'Oxygen', sans-serif;
	background-color: #E1C64B;
	padding-top: 70px;
}

#collapsible-nav {
	color: #E1654B;
}